# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.Anno1404Helper.iml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/Anno1404Helper/Anno1404Helper/obj
/AnnoHelper/Anno1404Helper/Anno1404Helper/bin
packages
